/*articles.scss*/

blockquote {
    padding: 6px 5px 9px 20px;
    line-height: $line-height-body;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    quotes: none;
    font-style: italic;
    background-color: none;
    border-left: solid 2px $color-copy
}

//.post #content .skepost blockquote p {font-size: 1rem}
.category-blog blockquote {
    border-left: solid 2px $color-blog;
}

.category-features blockquote {
    border-left: solid 2px $color-features;
}

blockquote p:last-child {
    margin-bottom: 0
}

#content a:link,
#content a:visited {
    text-decoration: underline
}

.wp-caption {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #F0F0F0;
    padding: 5px 3px;
    text-align: center;
    border: 1px solid #EEEEEE;
    max-width: 100%;
    margin-bottom: 20px;
}

.wp-caption-text {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 11px;
}

.author-avatar {
    float: left;
    margin-right: 20px;
    width: 96px;
    height: 96px;
}

img.avatar {
    border-radius: 50%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

h2.author-title {
    margin-top: 20px;
}

#content .skepost-meta a,
.skepost-meta a {
    text-decoration: none;
    font-weight: $font-weight-regular;
    color: $color-secondary;
}

// originally - word-spacing: 2px 

.skepost-meta {
    color: $color-secondary;
    font-size: 0.9rem;
    margin-top: 15px;
    margin-bottom: 15px
}

.author-description {
    min-height: 96px;
    margin-left: 116px;
}

.title-w-bio {
    max-width: 1104px;
}

/*
.row-fluid [class*="span"].center-col.title-w-bio {
    margin-top: 12px;
    margin-bottom: 12px
}
*/

.author .author-description {
    //  margin-top: -40px;
    margin-bottom: 40px
}

.page-content ul li ul li {
    margin-bottom: 0;
}


.page-content li {
    margin-bottom: 1rem;
}

.pingback .reply {
    display: none;
}

/**
@media only screen and (max-width: 599px) {
    .category .bread-title-holder h1.title, .bread-title-holder h1.title, h1.title {
        margin-left:0.75rem;
        font-size: 2.75rem;
        padding-bottom:0;
    }   
    .page-content h2, .wpjm-single-job-post h2 {
        font-size: 1.5rem;
        line-height: 2.25rem;
        }    
    .page-content h3, .wpjm-single-job-post h3 {
        font-size: 1.125rem;
        font-weight:400;
        }

    .post-title a {
        font-size: 1.25rem;
        font-weight: 400;
    }
    }**/