/* Jobs */

.job-manager-form fieldset input.input-date, .job-manager-form fieldset input.input-text, .job-manager-form fieldset select, .job-manager-form fieldset textarea, .select2-container--default .select2-selection--multiple, .job-manager-form fieldset .wp-editor-container {margin-bottom:0; padding:0.4rem; border: 1px solid $color-outline;}

.job-manager-form fieldset input[type=file].input-text {display:flex; align-items: baseline; line-height: 2rem;}

.job-manager-form fieldset input.input-date:focus, .job-manager-form fieldset input.input-text:focus, .job-manager-form fieldset select:focus, .job-manager-form fieldset textarea:focus, .select2-container--default.select2-container--focus .select2-selection--multiple, .job-manager-form input.button:focus, .job-manager-application-wrapper .application .application_button:focus, .single_job_listing .application .application_button:focus, .wpjm-single-job-post a.button:focus, #job_preview a.button:focus, .mc4wp-form-fields input:focus {outline: 3px solid $color-highlight;  outline-offset: 0;}

.job-manager-form fieldset div.field {width:inherit;}

.select2-container {margin-top:0.7rem;}

#wp-job_description-wrap {margin-top:0.7rem;}

body#tinymce.wp-editor {font-family: $font-family;}

.select2-container--default .select2-selection--multiple {border-radius:0; line-height: 1.5rem;}

.job-manager-form fieldset .wp-editor-container {border-radius:0}

.job-manager-form input.button, .job-manager-form a.button, .wpjm-single-job-post a.button, #job_preview a.button, .job-manager-application-wrapper .application .application_button, .single_job_listing .application .application_button, .job_listing_preview_title input.button {background-color: $color-features; color:$color-heading-reverse; border:$color-features 1px solid;padding:0.7rem 2rem; text-transform: uppercase; font-size:0.8125rem; font-weight:bold; cursor: pointer; margin: 1rem 2rem 0rem 0; display:inline-block; line-height:1.3rem}

.job-manager-form input.button.secondary, .job-manager-form a.button.secondary, .wpjm-single-job-post a.button.secondary, .job_listing_preview_title input.button.secondary {background-color: $color-heading-reverse; color:$color-features; border:$color-features 1px solid;padding:0.7rem 2rem; }

.job_listing_preview_title input.button.button_small { padding: 0.4rem 1rem;}

li.select2-results__option {margin-left:0}

.select2-dropdown.select2-dropdown--below {margin-top: -12px;}

.job-manager-form input.button[name=submit_job] {margin-right:0;}

#content .job-manager-form a.button:link, .wpjm-single-job-post #content a.button, #content #job_preview a.button, #content .job-manager-form a.button:visited, #content .comments-template .reply a {text-decoration: none;}

.job-manager-form input.button:hover, .job-manager-form a.button:hover, .wpjm-single-job-post a.button:hover, .application input.application_button:hover, #job_preview input.button:hover, #job_preview a.button:hover    {background-color: $color-features-highlight}

.job-manager-form input.button:hover.secondary, .job-manager-form a.button:hover.secondary, .wpjm-single-job-post a.button.secondary:hover, #job_preview input.button.secondary:hover {background-color: $color-features-pale}

.job-manager-form fieldset .account-sign-in .button:before {display:none;}