.wpbdp-wp-theme-edpsy .wpbdp-listing.wpbdp-listing-excerpt {
    border-bottom: $divider-thin-neutral;
    padding: 0;
}

.wpbdp-wp-theme-edpsy .wpbdp-listing .listing-details {
    margin-left: 0;
}

.wpbdp-wp-theme-edpsy.wpbdp-view-main h1 {
    color: $color-thesis;
}

.wpbdp-wp-theme-edpsy .wpbdp-listing .listing-title {
    margin-bottom: 10px;
    text-transform: lowercase;
}

.wpbdp-wp-theme-edpsy .wpbdp-listing .listing-title:first-letter {
    text-transform: uppercase;
}

.wpbdp-wp-theme-edpsy .wpbdp-listing .listing-title h3 {
    margin-bottom: 0;
}

.excerpt-name-year {
    display: flex;
}

.wpbdp-wp-theme-edpsy .wpbdp-listing .listing-details .field-value {
    width: inherit;
}

.wpbdp-wp-theme-edpsy .wpbdp-listings-list .listing-details .field-value {
    margin-bottom: 0;
}

.wpbdp-wp-theme-edpsy .wpbdp-listings-list .listing-title .wpbdp-subtitle {
    margin-top: -20px;
}

.wpbdp-page-main_page .field-value .value {
    color: $color-secondary;
}

.wpbdp-wp-theme-edpsy .field-value label,
.wpbdp-wp-theme-edpsy .wpbdp-listing .wpbdp-field-link_type {
    font-weight: $font-weight-medium;
    color: $color-secondary;
}

.wpbdp-wp-theme-edpsy .field-value .field-label,
.wpbdp-further-reading-block h2,
.wpbdp-contact h2 {
    font-weight: $font-weight-regular;
    color: $color-thesis;
}

.wpbdp-further-reading-block {
    display: flex;
    border-bottom: $divider-medium-neutral;
    padding-bottom: 15px;
}

.wpbdp-further-reading-block ul {
    width: 100%;
    margin-top: 5px;
}

.wpbdp-further-reading-block li {
    margin-bottom: $unordered-list-spacing;
}


.wpbdp-listing.wpbdp-listing-excerpt .listing-details {
    display: flex;
    justify-content: space-between;
}

.wpbdp-listing.wpbdp-listing-excerpt .wpbdp-field-year {
    flex-basis: 20px;
    margin-right: 10px;
}

.wpbdp-wp-theme-edpsy .wpbdp-listing .listing-title h3 {
    font-size: $font-size-body;
    font-weight: $font-weight-regular;
    line-height: $line-height-body;
    margin-top: 0;
}

.wpbdp-wp-theme-edpsy #content .wpbdp-listings-list a {
    text-decoration: none;
    cursor: pointer;
    padding: 1em;
    display: block;
}

.wpbdp-wp-theme-edpsy #content .wpbdp-listings-list a:hover,
.wpbdp-wp-theme-edpsy #content .wpbdp-listings-list a:active {
    background-color: $color-listing-block-hover;
    outline: #e0e0e0 solid 1px;
}

.wpbdp-wp-theme-edpsy #wpbdp-listings-list {
    padding-top: 0;
}

.wpbdp-wp-theme-edpsy .wpbdp-listings-list.wpbdp-grid {
    grid-gap: 0;
}

.wpbdp-wp-theme-edpsy .wpbdp-listing .listing-title {
    border-bottom: none;
}


.wpbdp-wp-theme-edpsy .listing-actions {
    display: none;
}


.wpbdp-wp-theme-edpsy input[type=text]#wpbdp-main-box-keyword-field {
    padding: 20px 20px 20px 40px;
    border: 0
}

// Directory //
.wpbdp-wp-theme-edpsy .wpbdp-main-box .submit-btn input[type="submit"] {
    background-color: $color-thesis;
    color: $color-heading-reverse;
    border-color: $color-thesis;
    -webkit-appearance: none;
}

.wpbdp-wp-theme-edpsy .wpbdp-main-box .submit-btn.secondary input[type="submit"] {
    background-color: $color-heading-reverse;
    color: $color-thesis;
    border: $color-thesis 1px solid;
    padding: 0.7rem 2rem;
    -webkit-appearance: none;
}

.wpbdp-wp-theme-edpsy .wpbdp-main-box .submit-btn input[type="submit"]:hover {
    background-color: $color-thesis-highlight
}

.wpbdp-wp-theme-edpsy .wpbdp-main-box .submit-btn.secondary input[type="submit"]:hover {
    background-color: $color-thesis-pale
}

// Search block

.wpbdp-wp-theme-edpsy .wpbdp-main-box .search-block {
    border: 1px solid $color-thesis;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 20px;

}

.wpbdp-wp-theme-edpsy .wpbdp-main-box .search-block form {
    align-items: center;
}

.wpbdp-wp-theme-edpsy .wpbdp-main-box .search-block input[type=text]#wpbdp-main-box-keyword-field {

    font-size: 1.125rem;
    margin-bottom: 0
}

.wpbdp-wp-theme-edpsy .wpbdp-main-box .search-block .box-col {
    margin-bottom: 0;
}


.wpbdp-wp-theme-edpsy .wpbdp-main-box .search-block ::placeholder {
    -webkit-text-security: none;
    color: rgb(93, 93, 93);
    opacity: 1;
}

.wpbdp-wp-theme-edpsy .wpbdp-main-box .submit-btn {
    width: auto;
    min-width: auto;
}

.wpbdp-wp-theme-edpsy .wpbdp-main-box .submit-btn input[type="submit"] {
    @include button-primary;
    margin: 0;
    width: auto;
    min-width: 0;
}

.box-col.submit-btn {
    display: flex;
    align-items: center;
}

// Search icon

.wpbdp-wp-theme-edpsy .svgicon--search {
    width: 16px
}

.wpbdp-wp-theme-edpsy .search__input-control-icon-svg {
    fill: $color-thesis;
    display: block;
    position: relative;
    right: 0;
    top: -50%;
    transform: translateY(-50%);
    margin-bottom: -16px;
}

/* .wpbdp-wp-theme-edpsy .search__input-control-icon-svg {
    color: $color-features;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
} */

.wpbdp-wp-theme-edpsy .search__input-control-icon-svg {
    left: 16px;
    right: auto;
}

.wpbdp-wp-theme-edpsy svg:not(:root) {
    overflow: hidden;
}

.wpbdp-wp-theme-edpsy .wpbdp-main-box .advanced-search-link {
    font-size: $font-size-buttons;
}

.wpbdp-wp-theme-edpsy .wpbdp-listings-list .field-value .field-label {
    display: none;
}

//.wpbdp-wp-theme-edpsy .wpbdp-main-box .advanced-search-link {
//    display: none;
//}

#wpbdp-listings-list {
    border-top: $divider-thin-neutral;
    padding-top: 10px;
    margin-top: 10px;
}

.wpbdp-wp-theme-edpsy .wpbdp-listings-sort-options {
    display: flex;
    justify-content: right;
    margin: 25px 0 30px 0;
    font-size: 1rem;
}

#wpbdp-sort-bar {
    max-width: 250px;
    font-size: 2rem;
    font-family: $font-family;
}

// Thesis detail page


.wpbdp-view-show_listing.wpbdp-wp-theme-edpsy .wpbdp-listing .listing-details .wpbdp-field-abstract {
    border-bottom: $divider-thick-neutral;
    margin-bottom: 2.5rem;
    padding-bottom: 30px;
    margin-top: 2.5rem;
}

.wpbdp-view-show_listing.wpbdp-wp-theme-edpsy .wpbdp-listing .wpbdp-field-year,
.wpbdp-view-show_listing.wpbdp-wp-theme-edpsy .wpbdp-listing .wpbdp-field-institution,
.wpbdp-view-show_listing.wpbdp-wp-theme-edpsy .wpbdp-listing .wpbdp-field-link_type,
.wpbdp-view-show_listing.wpbdp-wp-theme-edpsy .wpbdp-listing .wpbdp-field-website {
    display: inline-block;
    width: inherit;
}

/**.wpbdp-view-show_listing.wpbdp-wp-theme-edpsy .wpbdp-listing .wpbdp-field-website {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    display: inline-block;
}**/

//.wpbdp-wp-theme-edpsy .wpbdp-listing .field-value .field-label:after,
.wpbdp-view-show_listing.wpbdp-wp-theme-edpsy .wpbdp-listing .wpbdp-field-link_type:after {
    content: ": ";
}

.wpbdp-wp-theme-edpsy .wpbdp-listing .field-value.wpbdp-field-abstract .field-label:after {
    content: none;
}

// single page

.single-wpbdp_listing.wpbdp-wp-theme-edpsy h1.title {
    font-size: $font-size-h1-small;
    line-height: $line-height-h1-small;
    font-weight: 400;
    margin-bottom: 0;
    color: $color-thesis;
}

.single-wpbdp_listing.wpbdp-wp-theme-edpsy .wpbdp-field-subtitle {
    font-size: $font-size-h2-small;
    line-height: $line-height-h2-small;
    margin-bottom: 30px;
    padding-bottom: 35px;
    color: $color-thesis;
    border-bottom: $divider-medium-neutral;
}

.single-wpbdp_listing.wpbdp-wp-theme-edpsy .wpbdp-field-name {
    font-size: $font-size-h2-small;
    line-height: $line-height-h2-small;
    margin-bottom: 20px;
}

.wpbdp-year-inst-block {
    margin-bottom: 40px;
}

.single-wpbdp_listing.wpbdp-wp-theme-edpsy .wpbdp-field-name {
    margin-bottom: 0;
}


.wpbdp-metadata-block {
    margin: 0 0 35px 0;
    border-top: $divider-medium-neutral;
    border-bottom: $divider-medium-neutral;
    display: block;
    clear: both;
    padding-top: 40px;
    padding-bottom: 35px;
}



.wpbdp-metadata-block .wpbdp-field-value {
    margin-bottom: 10px;
    display: flex;
}

.wpbdp-metadata-block .wpbdp-field-value .field-label,
.wpbdp-further-reading-block h2 {
    min-width: 140px;
    margin-right: 5px;
}

.wpbdp-further-reading-block h2 {
    margin: 0;
    font-size: $font-size-body;
}

.wpbdp-wp-theme-edpsy.single-wpbdp_listing h2 {
    color: $color-thesis;
}

.wpbdp-contact {
    border-top: $divider-medium-neutral;
    margin-top: 40px;
    padding-top: 40px;
}

// Fix template

@media screen and (max-width:560px) {

    .wpbdp-wp-theme-edpsy .wpbdp-listing.wpbdp-listing-excerpt .listing-details,
    .wpbdp-listing.wpbdp-listing-single .listing-details {
        display: block;
        margin: 0;
        float: none;
    }

    .wpbdp-wp-theme-edpsy .wpbdp-main-box .search-fields .box-row,
    .wpbdp-wp-theme-edpsy .wpbdp-main-box .main-fields.box-row form {
        display: flex;
    }
}