/*events.scss*/

.tribe-events-content {
  color: $color-copy;
}

#tribe-events-bar {
  padding-top: 0px;
  margin-bottom: 0
}

#tribe-events-pg-template {
  padding: 10px 20px 20px;
  max-width: none;
}

.tribe-common {
  -webkit-font-smoothing: auto;
}

.tribe-events-single {
  -webkit-font-smoothing: auto;
}

.tribe-events .tribe-events-c-subscribe-dropdown__container {
  display: none;
}

.tribe-events .tribe-events-calendar-list-nav {
  margin-bottom: 32px;
}

// H1 handled in _page-headings.scss

// ------ List page ------ 

.tribe-common--breakpoint-medium.tribe-common .tribe-common-h4--min-medium {
  font-size: $font-size-h3;
  line-height: $line-height-h3;
  font-weight: $font-weight-regular;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-form-control-text__input {
  font-size: $font-size-body;
}

// Month title
.tribe-common--breakpoint-medium.tribe-common .tribe-common-h6--min-medium {
  font-size: $font-size-h2;
  font-weight: $font-weight-regular;
}

// Month - compressed view
.tribe-common .tribe-common-h6--min-medium {
  font-size: $font-size-h3;
  font-weight: $font-weight-regular;
  color: $color-link-hover;
}

.tribe-common .tribe-common-h6 {
  font-size: $font-size-body;
  font-weight: $font-weight-medium;
}

// Month divider
.tribe-events .tribe-events-calendar-list__month-separator:after {
  background-color: $color-outline;
  height: 5px;
}

// Calendar icon
.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-date-tag-weekday {
  font-size: $font-size-body;
}

.tribe-events-calendar-list__event-date-tag-weekday {
  font-size: $font-size-body;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-date-tag-daynum.tribe-common-h5.tribe-common-h4--min-medium {
  font-size: $font-size-h2-small;
}

.tribe-events-calendar-list__event-date-tag-daynum.tribe-common-h5.tribe-common-h4--min-medium {
  font-size: $font-size-body;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-venue {
  margin-bottom: 10px
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-description {
  margin-top: 10px
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-date-tag.tribe-common-g-col {
  display: block;
}

.tribe-events-calendar-list__event-date-tag.tribe-common-g-col {
  display: none;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-row>.tribe-common-g-col {
  padding-right: 0;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-b2, .tribe-common .tribe-common-b2 {
  font-size: $font-size-body;
  line-height: $line-height-body;
  color: $color-link-hover;
}

.tribe-common .tribe-common-b2--bold {
  font-weight: $font-weight-regular;
}

.tribe-events .tribe-events-calendar-list__event-title-link:visited, .tribe-events .tribe-events-calendar-list__event-title-link:link {
  color: $color-link;
}

.tribe-events .tribe-events-calendar-list__event-title-link:hover, .tribe-events .tribe-events-calendar-list__event-title-link:active {
  color: $color-link-hover;
  text-decoration: underline;
  border-bottom: none;
}

.tribe-common .tribe-common-anchor-thin {
  border-bottom: none;
}

// price
.tribe-common--breakpoint-medium.tribe-common .tribe-common-b3, .tribe-common .tribe-common-b3 {
  font-size: $font-size-body;
  line-height: $line-height-body;
  color: $color-link-hover;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-cost {
  margin-top: 10px;
}

.tribe-common p {
  font-weight: $font-weight-light;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-events-calendar-list__event-datetime-wrapper {
  display: none;
}

.tribe-events .tribe-events-calendar-list-nav {
  border-top: $divider-thick-neutral;
}

// Event in loop
.tribe-common .tribe-events-calendar-list__event-wrapper {
  padding-bottom: 30px;
  border-bottom: $divider-thin-neutral;
  padding-right:20px;
}

/*.tribe-events-calendar-list__event-wrapper:last-of-type {
  border-bottom:none;
}*/

.tribe-common--breakpoint-medium.tribe-common .tribe-events-calendar-list__event-wrapper {
  border-bottom: none;
  padding-bottom: 0;
}

// ------ Single event ------- //

.tribe-events-back {
  display: none
}

.tribe-events-meta-group .tribe-events-single-section-title {
  font-size: $font-size-h3;
  font-weight: $font-weight-regular;
  text-transform: none;
}

// --- Top details block --- //

#tribe-events-content .tribe-events-cost,
#tribe-events-content .tribe-events-city,
.tribe-events-schedule .tribe-event-date-start,
.tribe-events-schedule .tribe-event-date-end, .tribe-events-schedule .tribe-event-time {
  font-size: $font-size-h2-small;
  font-weight: $font-weight-regular;
  line-height: $line-height-h2-small;
  color: $color-link-hover;
  margin-left: 0;
  margin-right: 0;
}

#tribe-events-content .tribe-events-schedule {
  display: inherit;
}

.tribe-events-schedule h2 {
  margin-top: 0px;
  font-weight: $font-weight-light;
  display: block;
  font-size: $font-size-h2-small;
  line-height: $line-height-h2-small;
  letter-spacing: normal;
}

.tribe-events-schedule .tribe-events-cost {
  text-transform: none;
}

// *** Main meta block *** //

.tribe-events-event-meta.primary,
.tribe-events-event-meta.secondary {
  padding-top: 0;
}

.tribe-events-event-meta dd,
.tribe-events-event-meta dt {
  margin: 0;
}

.tribe-events-event-meta.primary,
.tribe-events-event-meta.secondary {
  width: 100%
}

.tribe-events-event-meta.secondary {
  margin-bottom: 40px;
  border-top: $divider-thin-neutral;
}

dd.tribe-organizer,
dd.tribe-venue {
  font-weight: $font-weight-regular;
}

.tribe-events-event-meta.primary h2.tribe-events-single-section-title {
  margin-top: 30px;
  line-height: inherit;
}

.tribe-events-gmap {
  display: none;
}



/*
.single-tribe_events .tribe-events-event-meta {
  font-size: 18px;
  line-height: 18px;
}
*/
// * Map * //

.tribe-events-venue-map {
  width: 100%;
  order: 1;
  margin: 0;
  height: 350px;
}

.tribe-events-venue-map>div,
.tribe-events-venue-map>iframe {
  max-height: 350px;
}

// *** Footer *** //

#tribe-events-content #tribe-events-footer {
  border-top: none;
  display: none;
}

#tribe-events-content {
  border-bottom: $divider-thick-neutral;
}

.event-disclaimer {
  margin: 30px 0 30px 0;
  color: $color-secondary
}

.event-disclaimer h2 {
  color: $color-secondary
}



.tribe-events-button,
#tribe-bar-form .tribe-bar-submit input[type=submit] {
  background-color: $color-events
}

.tribe-events-event-meta address.tribe-events-address,
.tribe-events-list .tribe-events-venue-details {
  font-style: normal;
}

.tribe-events-loop .tribe-events-event-meta {
  color: $color-secondary;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  word-spacing: 2px;
  line-height: $line-height-body;
  padding-left: 10px;
}

.tribe-events-list .tribe-events-venue-details {
  padding-left: 0;
}



.tribe-events-meta-group .tribe-events-single-section-title {
  font-size: 1.17em;
  font-weight: $font-weight-bold;
  margin-bottom: 20px;
  color: $color-events;
}

.events-list .tribe-events-loop,
.single-tribe_organizer .tribe-events-loop,
.single-tribe_venue .tribe-events-loop,
.tribe-events-day .tribe-events-loop {
  max-width: none;
}

#tribe-events .tribe-events-content p,
.tribe-events-after-html p,
.tribe-events-before-html p {
  margin-bottom: 20px;
  line-height: inherit;
}

.tribe-events-content ol,
.tribe-events-content p,
.tribe-events-content ul,
.single-tribe_events .tribe-events-event-meta {
  font-size: $font-size-body;
  line-height: $line-height-body;
}

.tribe-event-tags-label,
.tribe-event-tags {
  display: none;
}

.primary .tribe-events-meta-group.tribe-events-meta-group-venue {
  order: inherit;
}

// Submit events form

.tribe-section-image-uploader,
.tribe-change-timezone,
.tribe-linked-type-venue-country,
.tribe-community-events .edit-linked-post-link {
  display: none !important;
}

+#tribe-events,
#tribe-community-events,
.tribe-events-content p,
.tribe-events-after-html p,
.tribe-events-before-html p {
  margin-bottom: 20px;
  line-height: inherit;
}

#tribe-community-events .form {
  width: auto
}

#tribe-community-events.tribe-community-events {
  border: none;
  box-sizing: 0;
  padding: 0;
}

.tribe-community-events .events-community-post-content label,
.tribe-community-events .events-community-post-title label,
.tribe-community-events .tribe-section .tribe-section-header h3 {
  text-transform: none !important;
  font-weight: $font-weight-regular !important;
  font-size: $font-size-body !important;
}

.tribe-community-events label[for="allDayCheckbox"] {
  font-size: 15px !important
}

.tribe-community-events * {
  font-size: 18px;
}

input[type="checkbox"] {
  margin-top: 8px !important;
}

.tribe-community-events .req {
  font-style: normal !important;
  font-size: 1rem !important;
  opacity: 0.75;
}

.tribe_community_edit .ui-timepicker-wrapper .ui-timepicker-list li {
  font-size: 125% !important;
}

.tribe-community-events input[type=text],
.tribe-community-events .eventForm input[type=text],
.tribe-community-events input[type=tel],
.tribe-community-events .eventForm input[type=tel],
.tribe-community-events input[type=url],
.tribe-community-events .eventForm input[type=url] {
  box-shadow: none !important;
  border-radius: 0 !important;
}

#tribe-events,
#tribe-events-pg-template,
.tribe-events-pg-template {
  padding: 0;
}



.tribe-community-events table,
.tribe-community-events tbody,
.tribe-community-events td,
.tribe-community-events th,
.tribe-community-events tr,
.tribe-community-events label {
  font-size: 18px !important;
}

.tribe-community-events .tribe-section p {
  font-size: 15px !important;
}

.my-events-header {
  border-bottom: none !important;
}

.tribe-community-events input,
.tribe-community-events textarea,
.select2-search input {
  font-family: $font-family;
  font-size: 16px;
}

.tribe-community-events p.tribe-helptext {
  margin: 10px 30px 0 30px
}

.tribe-community-event-info .venue,
.tribe-community-event-info .organizer,
.tribe-section-content-row {
  display: flex;
}

.tribe-community-event-info .venue label,
.tribe-community-event-info .organizer label,
.tribe-section-content-row .tribe-section-content-label {
  width: 30%;
  min-width: 30%;
  padding-right: 10px;
}

.tribe-events-community-details.eventForm {
  margin: 20px 20px 0 20px;
}

.eventForm input {
  margin-bottom: 10px !important
}

#event_captcha.eventForm {
  margin-top: inherit;
}

.tribe_sectionheader {
  display: none;
}

#EventBriteDetailDiv h4,
.eventForm .tribe_sectionheader h4,
.tribe-community-event-info h4 {
  text-transform: none !important;
  border-bottom: none !important;
  margin: 30px 0 5px 0 !important;
  font-weight: $font-weight-regular;
}

.tribe-community-events .tribe-section.tribe-section-website input {
  width: inherit !important;
}

p.helptext {
  margin-left: 30% !important;
  margin-top: -15px !important;
  margin-bottom: 0 !important;
}


.tribe-community-events.form .tribe-community-notice p,
.tribe-community-events.form .tribe-community-notice p a {
  font-size: 18px !important;
}

input.tribe-button {
  border: 1px solid;
  padding: 0.7rem 2rem;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: bold !important;
  cursor: pointer;
  margin: 1rem 2rem 0rem 0;
  display: inline-block;
  line-height: 1.3rem;
  text-decoration: none;
  -webkit-appearance: none;
  border-radius: 0 !important;
}

.tribe_community_edit .tribe-button.submit,
.tribe_community_list .tribe-button.submit {
  background-color: #067883 !important;
}

.tribe_community_edit .tribe-button.submit:hover,
.tribe_community_list .tribe-button.submit:hover {
  background-color: #075961 !important;
}

.tribe-events-single .tribe-events-sub-nav {
  display: none;
}

#tribe-events-content .tribe-events-single-event-description a,
.tribe-events-event-meta a {
  text-decoration: underline !important;
}

#tribe-events-content .tribe-events-single-event-description a:link,
.tribe-events-event-meta a:link,
#tribe-events-content a:visited,
.tribe-events-event-meta a:visited {
  color: $color-link  !important;
}

#tribe-events-content .tribe-events-single-event-description a:hover,
.tribe-events-event-meta a:hover,
#tribe-events-content a:active,
.tribe-events-event-meta a:active {
  color: $color-link-hover  !important;
}

#tribe-events-content .tribe-events-event-meta.primary {
  border-bottom: none;
  border-top: $divider-thin-neutral;
}

.tribe-events-event-meta:before,
.tribe-events-event-meta~div:not(.tribe-events-event-meta, .event-tickets) {
  border-top: none;
}


/*
// list view

.tribe-events .tribe-events-calendar-list__month-separator:after {
  background-color: $color-outline;
}

// Elements

.tribe-events .tribe-events-c-search__button:active, .tribe-events .tribe-events-c-search__button {background-color: $color-events;}

.tribe-events .tribe-events-c-search__button:focus, .tribe-events .tribe-events-c-search__button:hover {background-color: $color-events-pale;}


// Single event

.tribe-events-meta-group .tribe-events-single-section-title { text-transform: none;}

.tribe-events-button.tribe-events-ics {display: none;}

.single-event-meta-block {
    @include meta-box
  }

.tribe-events-event-meta.primary {
  border-top: solid 5px #ddd;
}

.tribe-events-schedule h2 {font-size: $font-size-h2}

.tribe-events-meta-group .tribe-events-single-section-title {
  margin-top: 0;
}

.tribe-events-single-event-title {
    font-weight: $font-weight-regular;
  }
*/

// add an event