/*events.scss*/


#tribe-events-bar {padding-top:0px; margin-bottom: 0}
#tribe-events-pg-template  {padding: 10px 20px 20px; max-width: none;}
h2.tribe-events-page-title {
    font-weight: $font-weight-light;  }

// H1 handled in _page-headings.scss

.tribe-events-schedule .tribe-event-date-start, .tribe-events-schedule .tribe-event-date-end, .tribe-events-schedule .tribe-event-time
  {font-size: 1.7rem;
    line-height: 1.3em;
  font-weight: $font-weight-light}

.tribe-events-schedule h2 {margin-top: 0px; font-weight: $font-weight-light; display:block; margin-bottom:20px;}

.tribe-events-button, #tribe-bar-form .tribe-bar-submit input[type=submit] {background-color: $color-events}

.tribe-events-event-meta address.tribe-events-address, .tribe-events-list .tribe-events-venue-details {font-style: normal;}
.tribe-events-loop .tribe-events-event-meta {  color: $color-secondary; font-size: 18px; margin-top: 15px; margin-bottom: 15px; word-spacing: 2px; line-height: 28px;  padding-left:10px;}
.tribe-events-list .tribe-events-venue-details {
  padding-left: 0;
}
.event-disclaimer {margin:30px 0 30px 0; color: $color-secondary}
.event-disclaimer h2 {color: $color-secondary}
.single-tribe_events .tribe-events-event-meta {
    font-size: 18px;
    line-height: 18px;
}

.tribe-events-meta-group .tribe-events-single-section-title {
  font-size: 1.17em;
  font-weight: $font-weight-bold;
  margin-bottom: 20px
}

.events-list .tribe-events-loop, .single-tribe_organizer .tribe-events-loop, .single-tribe_venue .tribe-events-loop, .tribe-events-day .tribe-events-loop {max-width: none;}

#tribe-events .tribe-events-content p, .tribe-events-after-html p, .tribe-events-before-html p {margin:inherit; line-height: inherit;}