#tribe-events-bar {padding-top:0px; margin-bottom: 0}
#tribe-events-pg-template  {padding: 10px 20px 20px; max-width: none;}
h2.tribe-events-page-title {
    font-weight: 300;  }

.single-tribe_events h1.tribe-events-single-event-title {
 font-size: 2.6rem; line-height: 66px; font-weight: 200; letter-spacing: -0.2px; text-transform: none; padding-bottom: 10px; color:$color-events}
.tribe-events-schedule .tribe-event-date-start, .tribe-events-schedule .tribe-event-date-end
  {font-size: 1.7rem;
    line-height: 1.3em;
  font-weight: 300}

.tribe-events-schedule h2 {margin-top: 0px}

.tribe-events-button, #tribe-bar-form .tribe-bar-submit input[type=submit] {background-color: $color-events}
