/*forms.scss*/
#signup .mc4wp-form-fields input, .post #content .skepost div.mc4wp-response p:first-child
{font-size: 18px;
font-family: 'Open Sans', sans-serif;
}

.post_cta {
border: solid 2px;
padding:
   10px 20px;
   font-size:1.4rem;
}

.category-blog .post_cta {
border-color:$color-blog;
background: $color-blog-pale;
}

.tribe-events-single .post_cta {
border-color: $color-events;
background: $color-events-pale;
}

.category-about .post_cta {
border-color:$color-about;
}

.category-about .post_cta .mc4wp-message-hide {
display:none;
}

/*.wpjm-page .post_cta {
   border-color:$color-jobs;
background: $color-jobs-v-pale;
}*/

.category-features .post_cta {
border-color: $color-features;
background: $color-features-pale;
}

#tribe-events .post_cta {
border-color: $color-events;
background: $color-events-pale;
}

.mc4wp-alert {
font-size: 18px;
text-align:center;
padding:1px;
}

.mc4wp-alert p {
margin: 2px 2px;
}

.category-blog .mc4wp-alert {
background:$color-blog;
color: $color-heading-reverse;
}

.category-features .mc4wp-alert {
background:$color-features;
color: $color-heading-reverse;
}

#tribe-events .mc4wp-alert {
background:$color-events;

}

.post_cta h2 {
margin-top:10px;
}

.post_cta .mc4wp-fields input {
 width:22%;
}
.post_cta p {
margin-bottom: 10px;
   margin-top: 10px;
   font-size:1rem;
}


#signup .mc4wp-fields {
display:flex;
justify-content: space-around;
}

#signup h2 {font-size:27px;}

#signup input {border-color: #e1e1e1; margin-left:10px; margin-bottom:10px; background: #fff}

#signup .mc4wp-fields input:first-child{ margin-left:0}

#signup .mc4wp-submit {
margin-top:10px;
display:flex;
justify-content:space-between;
}

#signup input[type="submit"] {border: 1px solid $color-link-with-background; color: $color-link-with-background; width:inherit}

#signup input[type="submit"]:hover, #signup input[type="submit"]:focus {background: none repeat scroll 0 0 $color-link-with-background; color: #FFFFFF; @include transition-0-3; }
