/*global.scss*/
body { color: $color-copy;  font-family: $font-family;  font-size: 18px;  line-height: 26px; font-weight:300; margin-top:0}

#copyright {
  background-color: #212223;
}

#copyright a:link, #copyright a:visited {
  color: $color-footer-reverse;
}

#copyright a:hover, #copyright a:active {
  color: $color-link; 
}

#content img.img-half-max {max-width: 50%;}

[dir="rtl"] li { margin-right: 40px; }