.rp4wp-related-job_listing>ul li.job_listing a div.position .company, .rp4wp-related-job_listing>ul li.no_job_listings_found a div.position .company, ul.job_listings li.job_listing a div.position .company, ul.job_listings li.no_job_listings_found a div.position .company {color: $color-secondary;}
.rp4wp-related-job_listing>ul li.job_listing a div.location, .rp4wp-related-job_listing>ul li.no_job_listings_found a div.location, ul.job_listings li.job_listing a div.location, ul.job_listings li.no_job_listings_found a div.location {color: $color-secondary;}
.rp4wp-related-job_listing>ul li.job_listing a .meta, .rp4wp-related-job_listing>ul li.no_job_listings_found a .meta, ul.job_listings li.job_listing a .meta, ul.job_listings li.no_job_listings_found a .meta {color: $color-secondary;}
//.type-job_listing .job-title {float: left; padding-left:42px; width:90%;} 
//.type-job_listing .job-title h2 {margin-top: 0; margin-top:8px} 
// Listing variatin
.type-job_listing .job-title h2 {margin-bottom:8px; margin-top:0; float:left; font-size:1.2em}
.type-job_listing .job-title {float:left; padding-left: 42px; width:94%;}
.type-job_listing .job-type {float:right; font-weight: 600; padding-top:8px;}
.type-job_listing ul.job_listings li.job_listings a div.location {width:inherit; padding: inherit;}
.type-job_listing li.job_listing a .meta {width: 25%; padding: 0;}
.type-job_listing ul.job_listings li.job_listing a div.position {width: 70%}
.type-job_listing ul.job_listings li.job_listing a .meta {width:30%;}
.type-job_listing ul.job_listings li.job_listing a img.company_logo {width:55px; height:55px}
.type-job_listing ul.job_listings li.job_listing a div.position {padding-left: 52px;}

.single-job_listing h1.title {font-size: 2.6rem; line-height: 3.2rem; padding: 45px 0 10px 0;}

.single-job_listing .meta {margin: 0 0 35px 0;}
.single-job_listing .meta li {margin:0 0 0.4em 0; color: $color-secondary;}
.single_job_listing .company {display: flex; border-width: 2px; box-shadow: none;}
.single_job_listing .meta .job-type .job-type_item {border-radius: 15px; background-color: orange; padding: 2px 10px; margin-right:5px;}
.single_job_listing .meta .job-type {background: none; clear:left;}
.single_job_listing .meta .date-posted {clear:left;}
.single_job_listing .company .company_twitter:before {display: none;}
.single_job_listing .company .twitter {margin-bottom: 0;}
.single_job_listing .company .company_logo {width:100px; max-height:100px; position:relative; padding-right: 20px; left:0;}
.single_job_listing .company .name {margin:0; padding:0}
.single_job_listing .company .name a {float: none; margin-left:0}
.single_job_listing .company .tagline {color: $color-secondary; margin:0; padding:0;}
.single_job_listing .meta li.wpjmef-field-soulbury {padding-left: 0}
.single_job_listing .meta .job-type_item.fixed-term {background-color: #5f9ea0;}
.single_job_listing .meta .job-type_item.flexible {background-color: #9074b3;}
.job-manager-form fieldset input.input-date, .job-manager-form fieldset input.input-text, .job-manager-form fieldset select, .job-manager-form fieldset textarea {margin-bottom:0; padding:5px; border: 1px solid $color-copy;}
.job-manager-form fieldset input.input-date:focus, .job-manager-form fieldset input.input-text:focus, .job-manager-form fieldset select:focus, .job-manager-form fieldset textarea:focus {outline: 3px solid #ffbf47;  outline-offset: 0;}
.job-manager-form fieldset input[type=file].input-text {border:none;}