/*listing.scss*/
/* ---------- post (blog or feature article) ---------- */

/* ----- listing -----*/

.archive #content .post:first-child,
.page-template-template-blog-page-php #content .post:first-child,
.page-template-template-blog-fullwidth-php #content .post:first-child,
.blog #content div.post:first-child,
.page-template-template-blog-left-sidebar-page-php #content .post:first-child {
    padding-top: 0;
}

.blog #content .post,
/*.archive #content .post, */
.page-template-template-blog-page-php #content .post,
.page-template-template-blog-fullwidth-php #content .post,
.page-template-template-blog-left-sidebar-page-php #content .post {
    border-bottom: 1px dotted $color-outline ;
    padding-bottom: 55px;
    padding-top: 50px;
}

.blog-template #content .post:last-child,
.blog #content .post:last-child {
    border-bottom: 0;
}

.category #content .post:last-child,
.tag #content .post:last-child,
.archive #content .post:last-child,
.search #content .post:last-child {
    border-bottom: 0;
}

.category-features .listing-post-summary {
    border-bottom-color: $color-features;
}

.featured-image-listing {
    overflow: hidden;
    padding-bottom: 8px;
}

.listing-post-summary {
    border-bottom: $divider-thick-neutral;
    padding-bottom: 12px;
}

h2.post-title {
    margin-top: 18px;
}

#content .post-title a:link,
#content .post-title a:visited {
    text-decoration: none;
    color: $color-copy;
}

#content .post-title a:active,
#content .post-title a:hover {
    text-decoration: underline;
}

.title-tag {
    color: $color-blog;
}

.homepage-job-promo .title-tag {
    color: $color-features;
}

/* ----- search listing ----- */

.search #content .post {
    border-bottom: 1px solid #E1E1E1;
}


/* ------ footer navigation ------ */

#content .navigation.blog-navigation a,
#tribe-events .tribe-events-nav-pagination ul.tribe-events-sub-nav a {
    margin-top: 35px;
    font-size: 1.6rem;
    font-weight: 500
}

#content .navigation.blog-navigation a:link,
#content .navigation.blog-navigation a:visited,
#content .tribe-events-nav-pagination ul.tribe-events-sub-nav a:link,
#content .tribe-events-nav-pagination ul.tribe-events-sub-nav a:visited {
    text-decoration: none
}

#content .navigation.blog-navigation a:hover,
#content .navigation.blog-navigation a:active,
#tribe-events .tribe-events-nav-pagination ul.tribe-events-sub-nav a:hover,
#tribe-events .tribe-events-nav-pagination ul.tribe-events-sub-nav a:active {
    text-decoration: underline
}