/* ----- Navigation ----- */

#skenav {background:none repeat scroll 0 0 transparent;  display:block;  margin-left:auto;  margin-right:auto;  border:medium none;  }

#skehead .sub-menu { display: none; }

#logo #site-title a { color: $color-site-title ;display: inline-block;font-size: 30px;font-weight: 700; line-height: 30px; margin-top: 5px; text-decoration: none; text-transform: none;}

/*#logo #site-title { display: block;font-size: 30px;margin: 8px 0 11px;}*/

#skenav .ske-menu, ul.menu {  font-size: 18px;  margin: 0px;  display:inline-block;  width:auto;  float:right; list-style: none;}

#skenav .ske-menu .menu li, ul.menu li {  float: left;  position: relative;  margin-left: 0px;  list-style: none outside none;  }

#skenav a {color: #333333; display: block; font-size: 18px; line-height: 85px; padding: 0 22px; text-decoration: none; transition: color 0.1s linear 0s, background 0.1s linear 0s; -webkit-transition: color 0.1s linear 0s, background 0.1s linear 0s;  	-moz-transition: color 0.1s linear 0s, background 0.1s linear 0s; -o-transition: color 0.1s linear 0s, background 0.1s linear 0s; }


#skenav ul ul {
	position: absolute;
	top: 100%;
	left: 0px;
	float: left;
	width: 230px;
	z-index: 99999;
	}

	#skenav ul li:last-of-type ul {
		right: 0px;
		left:inherit;
		}


#skenav ul .sub-menu li ,#skenav ul ul li {  display: block; width:100%;  }

#skenav ul .children li:first-child,  #skenav ul .sub-menu li:first-child {  border-top: none;  }

/* #skenav ul ul li{  border-top: 1px solid $color-tile;  } */

#skenav ul ul li { background: none repeat scroll 0 0 $color-tile; }

/*#skenav ul ul ul.sub-menu,#skenav ul ul ul.children{  left: 100%;  top: 0px !important; border-top: 0 none;margin-top:0;  }*/

#skenav ul ul a {  line-height: 1.2em;  font-size: 1em;  padding: 10px 20px;  width: auto;  height: auto;  color: $color-copy;  }

#header.skehead-headernav-shrink #skenav ul ul a {  line-height: 1.2em;  }

#skenav ul li:hover{  z-index:999999999999;  }

* html #skenav ul li.current_page_item a, * html #skenav ul li.current-menu-ancestor a, * html #skenav ul li.current-menu-item a, * html #skenav ul li.current-menu-parent a, * html #skenav ul li a:hover {  color: #fff;  }


/* --- menu link colours --- */

#skenav li a:hover, #skenav .sfHover { background-color:$color-tile ;color: #FFFFFF;}

#skenav .sfHover a { color: $color-copy;}


#skenav li a[href$="/blog/"]:hover, #skenav li a[href$="/blog/"]:hover, #skenav li a[href$="/blog/"]:active, #skenav ul li.current-menu-item > a[href$="/blog/"], #skenav ul li.current-menu-parent > a[href$="/blog/"] {
background-color: $color-blog;
}

#skenav li a[href$="/features/"]:hover, #skenav li a[href$="/features/"]:active, #skenav ul li.current-menu-item > a[href$="/features/"], #skenav ul li.current-menu-parent > a[href$="/features/"]  {
background-color: $color-features;
}

#skenav li a[href$="/events/"]:hover, #skenav li a[href$="/events/"]:active, #skenav ul li.current-menu-item > a[href$="/events/"], #skenav ul li.current-menu-parent > a[href$="/events/"], #skenav ul li a:hover[href*="/viewform"]  {
background-color: $color-events;
}

#skenav li sfhover.a[href*="training/"], #skenav li a[href*="training/"]:hover, #skenav li a[href*="training/"]:active, #skenav ul li.current-menu-item > a[href*="training/"],  #skenav ul li.current-menu-parent > a[href*="training/"] {
background-color: $color-training;
}

#skenav li a[href*="about/"]:hover, #skenav li a[href*="about/"]:active, #skenav ul li.current-menu-item > a[href*="about/"], #skenav ul li.current-menu-parent > a[href*="about/"] {
background-color: $color-about;
}

#skenav ul li.current-menu-parent > a {
background-color: $color-tile;
}


/* --- #skenav ul li.current_page_item > a, #skenav ul li.current-menu-ancestor > a, #skenav ul li.current-menu-item > a, #skenav ul li.current-menu-parent > a --*/


/* --- scroll menu --- */


#header.skehead-headernav-shrink #skenav a { line-height: 68px;}

#header.skehead-headernav.skehead-headernav-shrink { padding-bottom: 0;}


.skehead-headernav.skehead-headernav-shrink .logo {  height: 34px;margin-top: 3px;  position: relative;top: 3px;width: auto;}

.skehead-headernav.skehead-headernav-shrink #logo #site-title {margin: 0 0 2px;}

.skehead-headernav.skehead-headernav-shrink #logo #site-title a {font-size: 15px; line-height: 20px;  margin-top: 6px;}

.skehead-headernav.skehead-headernav-shrink  #logo #site-description {  font-size: 11px;margin-top: 2px;}


/* --- mobile menu --- */

ul.menu.skt-mob-menu{

box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.5);	 background: none repeat scroll 0 0 #FFFFFF !important;left: 0 !important; margin-right: -3% !important; position: absolute !important; top: 73px; width: 100% !important; z-index: 99999 !important;     padding: 0 0 15px 0px; }

.skt-mob-menu li{width:100% !important;margin: 0;}

.skt-mob-menu li a {line-height: 36px !important; padding: 0 5px 0 15px}

#skehead .skt-mob-menu .sub-menu li a {line-height: 36px !important; padding: 0 5px 0 25px; border:none;}

#skehead .skt-mob-menu .sub-menu li { background:#fff; }

#skehead .skt-mob-menu .sub-menu li a:before { color: $color-outline; content: "\f105"; font-family: "FontAwesome";	font-size: 21px; padding-right:7px; }

#skehead .skt-mob-menu .sub-menu {display:inherit;}





#skehead ul.skt-mob-menu li ul li a {
	border:none;}

#header { padding: 0;  position: relative;   z-index: 9999; background: #fff;}

@media only screen and (max-width: $col-menuswitch + px)  {
		#menu-main {
			display:none;
		}

		#header .container {
			width:97%;
		}

		.skehead-headernav .logo {
		    margin-bottom: 3px;
		    margin-top: 12px;
		    position: relative;
		}

		.skehead-headernav.skehead-headernav-shrink .logo {
            margin-top: 1px;
            top: 6px;
		}

		#header { padding: 0 0 12px 0;}

		#logo #site-title a {font-size: 20px; line-height: 25px;}

		#logo {margin-left:7px; margin-right:-7px;}

  		#logo #site-description { font-size:15px; line-height:18px;}

  		#skenav a { padding-left: 6.3%;}
}
