/*navigation.scss*/

#skenav {
	background: none repeat scroll 0 0 transparent;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: medium none;
}

.main-menu-block {
	display: flex;
	justify-content: space-between;
	width: 96%;
	margin: 0 20px;
}

#skehead .sub-menu {
	display: none;
}

#logo #site-title a {
	color: $color-site-title ;
	display: inline-block;
	font-size: 30px;
	font-weight: $font-weight-bold;
	line-height: 30px;
	margin-top: 10px;
	text-decoration: none;
	text-transform: none;
}

//.page-template-template-fullwidth-jobs-php #logo #site-title a {color: $color-jobs}

#skenav li a:focus {
	outline: 3px solid $color-highlight;
	outline-offset: 0;
}

/*#logo #site-title { display: block;font-size: 30px;margin: 8px 0 11px;}*/

#skenav .ske-menu,
ul.menu {
	font-size: 18px;
	margin: 0px;
	display: inline-block;
	width: auto;
	float: right;
	list-style: none;
}

#skenav .ske-menu .menu li,
ul.menu li {
	float: left;
	position: relative;
	margin-left: 0px;
	list-style: none outside none;
}

#skenav a {
	color: #333333;
	display: block;
	font-size: 18px;
	line-height: 85px;
	padding: 0 22px;
	text-decoration: none;
	@include transition-0-1
}

//-- jobs highlight icon --//

#skenav a i {
	color: $color-jobs
}

#skenav a[href^="https://hopin"]:link,
#skenav a[href^="https://hopin"]:visited {
	color: $color-events
}

#skenav a[href^="https://hopin"]:active,
#skenav a[href^="https://hopin"]:hover {
	color: $color-heading-reverse
}

#skenav a i.fa_eventicon {
	color: $color-events
}

#skenav ul li.current_page_item>a i,
#skenav ul li.current-menu-ancestor>a i,
#skenav ul li.current-menu-item>a i,
#skenav ul li.current-menu-parent>a i,
#skenav li a:hover i,
.single-job_listing #skenav li a.sf-with-ul[href$="/jobs/"] i {
	color: #fff;
}



#skenav skt-mob-menu a {
	padding: 0 20px 0 40px;
}

#skenav ul ul {
	position: absolute;
	top: 100%;
	left: 0px;
	float: left;
	width: 230px;
	z-index: 99999;
}

#skenav ul li:last-of-type ul {
	right: 0px;
	left: inherit;
}


#skenav ul .sub-menu li,
#skenav ul ul li {
	display: block;
	width: 100%;
}

#skenav ul .children li:first-child,
#skenav ul .sub-menu li:first-child {
	border-top: none;
}

/* #skenav ul ul li{  border-top: 1px solid $color-tile;  } */

#skenav ul ul li {
	background: none repeat scroll 0 0 $color-tile;
}

/*#skenav ul ul ul.sub-menu,#skenav ul ul ul.children{  left: 100%;  top: 0px !important; border-top: 0 none;margin-top:0;  }*/

#skenav ul ul a {
	line-height: 1.2em;
	font-size: 1em;
	padding: 10px 20px;
	width: auto;
	height: auto;
	color: $color-copy;
}

#header.skehead-headernav-shrink #skenav ul ul a {
	line-height: 1.2em;
}

#skenav ul li:hover {
	z-index: 999999999999;
}

* html #skenav ul li.current_page_item a,
* html #skenav ul li.current-menu-ancestor a,
* html #skenav ul li.current-menu-item a,
* html #skenav ul li.current-menu-parent a,
* html #skenav ul li a:hover,
//#skenav ul li.current-page-ancestor a[href$="/interest-groups/"],
#skenav ul li.current-page-ancestor a[href$="/events/"],
#skenav ul li.current-page-ancestor a.sf-with-ul[href$="/jobs/"],
.business-directory #skenav li a.sf-with-ul[href$="community/"],
.single-job_listing #skenav li a.sf-with-ul[href$="jobs/"],
.business-directory #skenav li a[href$="thesis-directory/"] {
	color: #fff;
}


// Menu highlight //

.menu-item .svg-inline--fa {
	width: 0.6rem;
	height: 0.6rem;
	padding-bottom: 0.8rem;
	color: $color-jobs-pale;
}


/* --- menu link colours --- */

#skenav li a:hover,
#skenav .sfHover {
	background-color: $color-tile ;
	color: #FFFFFF;
}

#skenav .sfHover a {
	color: $color-copy;
}




#skenav li a[href$="/blog/"]:hover,
#skenav li a[href$="/blog/"]:hover,
#skenav li a[href$="/blog/"]:active,
#skenav ul li.current-menu-item>a[href$="/blog/"],
#skenav ul li.current-menu-parent>a[href$="/blog/"] {
	background-color: $color-blog;
}

#skenav li a[href$="/features/"]:hover,
#skenav li a[href$="/features/"]:active,
#skenav ul li.current-menu-item>a[href$="/features/"],
#skenav ul li.current-menu-parent>a[href$="/features/"] {
	background-color: $color-features;
}

#skenav li a[href*="interest-groups/"]:hover,
#skenav li a[href*="interest-groups/"]:active,
#skenav ul li.current-menu-item>a[href*="interest-groups/"],
#skenav ul li.current-menu-parent>a[href*="interest-groups/"],
#skenav li a[href*="community/"]:hover,
#skenav li a[href*="community/"]:active,
#skenav ul li.current-menu-item>a[href*="community/"],
#skenav ul li.current-menu-parent>a[href*="community/"],
.business-directory #skenav li a.sf-with-ul[href$="community/"] {
	background-color: $color-groups;
}

#skenav li a[href*="events/"]:hover,
#skenav li a[href*="events/"]:active,
#skenav ul li.current-menu-item>a[href*="events/"],
#skenav ul li.current-menu-parent>a[href*="events/"],
#skenav ul li a:hover[href*="/viewform"] {
	background-color: $color-events;
}

#skenav li a[href*="boost/"]:hover,
#skenav li a[href*="boost/"]:active,
#skenav ul li.current-menu-item>a[href*="boost/"],
#skenav ul li.current-menu-parent>a[href*="boost/"] {
	background-color: $color-boost;
}

#skenav li sfhover.a[href*="training/"],
#skenav li a[href*="training/"]:hover,
#skenav li a[href*="training/"]:active,
#skenav ul li.current-menu-item>a[href*="training/"],
#skenav ul li.current-menu-parent>a[href*="training/"] {
	background-color: $color-about;
}

#skenav li a[href*="about/"]:hover,
#skenav li a[href*="about/"]:active,
#skenav ul li.current-menu-item>a[href*="about/"],
#skenav ul li.current-menu-parent>a[href*="about/"],
#skenav ul li.current-page-ancestor a.sf-with-ul[href$="about/"],
#skenav li a[href*="ep-training/"]:hover,
#skenav li a[href*="ep-training/"]:active,
#skenav ul li.current-menu-item>a[href*="ep-training/"],
#skenav ul li.current-menu-parent>a[href*="ep-training/"],
#skenav ul li.current-page-ancestor a.sf-with-ul[href$="about/"],
#skenav ul li.current_page_ancestor a.sf-with-ul[href$="about/"] {
	background-color: $color-about;
}

#skenav ul li.current-page-ancestor a.sf-with-ul[href$="about/"],
#skenav ul li.current-page-ancestor a.sf-with-ul[href$="about/"] {
	color: white;
}


#skenav li a[href*="/jobs/"]:hover,
#skenav li a[href*="/jobs/"]:active,
#skenav ul li.current-menu-item>a[href*="/jobs/"],
#skenav ul li.current-menu-parent>a[href$="/jobs/"],
#skenav ul li.current-page-ancestor a.sf-with-ul[href$="/jobs/"],
#skenav li a[href*="/job/"]:hover,
#skenav li a[href*="/job/"]:active,
#skenav ul li.current-menu-item>a[href*="/job/"],
#skenav ul li.current-menu-parent>a[href$="/job/"],
#skenav ul li.current-page-ancestor a.sf-with-ul[href$="/job/"],
.single-job_listing #skenav li a.sf-with-ul[href$="/jobs/"] {
	background-color: $color-jobs;
}

#skenav li a[href*="thesis-directory/"]:hover,
#skenav li a[href*="thesis-directory/"]:active,
#skenav ul li.current-menu-item>a[href*="thesis-directory/"],
#skenav ul li.current-menu-parent>a[href$="thesis-directory/"],
#skenav li a[href*="mentoring/"]:hover,
#skenav li a[href*="mentoring/"]:active,
#skenav ul li.current-menu-item>a[href*="mentoring/"],
#skenav ul li.current-menu-parent>a[href$="mentoring/"],
#skenav ul li.current-page-ancestor a.sf-with-ul[href$="thesis-directory/"],
#skenav li a[href*="thesis-directory/"]:hover,
#skenav li a[href*="thesis-directory/"]:active,
#skenav ul li.current-menu-item>a[href*="thesis-directory/"],
#skenav ul li.current-menu-parent>a[href$="thesis-directory/"],
#skenav ul li.current-page-ancestor a.sf-with-ul[href$="thesis-directory/"],
.business-directory #skenav li a[href$="thesis-directory/"] {
	background-color: $color-groups;
}


#skenav ul li.current-menu-parent>a {
	background-color: $color-tile;
}


/* --- #skenav ul li.current_page_item > a, #skenav ul li.current-menu-ancestor > a, #skenav ul li.current-menu-item > a, #skenav ul li.current-menu-parent > a --*/

/* -- Promo menu item --*/

/*.menu-item-2821 {
	background-repeat: no-repeat;
    background-color: #f08d3c;
    background-size: 10px;
    -webkit-mask-image: url(../images/star-solid.svg);
    -webkit-mask-size: 10px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: right;
}*/


/* --- scroll menu --- */




#header.skehead-headernav-shrink #skenav a {
	line-height: 68px;
}

#header.skehead-headernav.skehead-headernav-shrink {
	padding-bottom: 0;
}


.skehead-headernav.skehead-headernav-shrink .logo {
	height: 34px;
	margin-top: 3px;
	position: relative;
	top: 3px;
	width: auto;
}

.skehead-headernav.skehead-headernav-shrink #logo #site-title {
	margin: 0 0 2px;
}

.skehead-headernav.skehead-headernav-shrink #logo #site-title a {
	font-size: 15px;
	line-height: 20px;
	margin-top: 8px;
}

.skehead-headernav.skehead-headernav-shrink #logo #site-description {
	font-size: 11px;
	margin-top: 0px;
}


/* --- mobile menu --- */

.skt-mob-menu {
	//box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
	background: none repeat scroll 0 0 #FFFFFF !important;
	float: right;
	position: absolute;
	right: 20px;
	top: 71px;
	max-width: 400px;
	z-index: 99999 !important;
	padding: 15px 0 15px 0px;
}


.skt-mob-menu li {
	margin: 0;
}

#skenav .skt-mob-menu li a {
	line-height: 36px !important;
	padding: 0 5px 0 35px
}

#skehead .skt-mob-menu .sub-menu li a {
	line-height: 36px !important;
	padding: 0 5px 0 25px;
	border: none;
}

#skehead .skt-mob-menu .sub-menu li {
	background: #fff;
}

#skehead .skt-mob-menu .sub-menu li a:before {
	color: $color-outline;
	content: ">";
	font-size: 21px;
	padding-right: 7px;
}

#skehead .skt-mob-menu .sub-menu {
	display: inherit;
	list-style-type: none;
}





#skehead ul.skt-mob-menu li ul li a {
	border: none;
}

#header {
	padding: 0;
	position: relative;
	z-index: 9999;
	background: #fff;
}

@media only screen and (max-width: #{$col-menuswitch}px) {
	#menu-main {
		display: none;
	}

	#header .container {
		width: 97%;
	}



	.skehead-headernav .logo {
		margin-bottom: 3px;
		margin-top: 12px;
		position: relative;
	}

	.skehead-headernav.skehead-headernav-shrink .logo {
		margin-top: 1px;
		top: 6px;
	}

	.sktmenu-toggle {
		margin-right: 14px;
	}

	#header {
		padding: 0 0 12px 0;
	}

	#skenav a {
		padding-left: 6.3%;
	}
}

/** Fundraising banner **/
.skehead-headernav-shrink .cta-header-block {
	display: none;
}

.cta-header-block {
	padding: 20px;
	color: white;
	background: #331a99;
	background: -moz-linear-gradient(-45deg, #331a99 0%, #b85abd 100%);
	background: -webkit-linear-gradient(-45deg, #331a99 0%, #b85abd 100%);
	background: linear-gradient(135deg, #331a99 0%, #b85abd 100%)
}

.cta-body-block {
	padding: 20px;
	background: #fff;
}

.cta-header-block img,
.cta-body-block img {
	max-height: 20px;
	padding-right: 10px;
}

.cta-body-block p {
	margin-bottom: 0;
}

.cta-header-block--green {
	background: #008791;
	background: -moz-linear-gradient(-45deg, #337 0%, #008791 100%);
	background: -webkit-linear-gradient(-45deg, #337 0%, #008791 100%);
	background: linear-gradient(135deg, #337 0%, #008791 100%)
}

.cta-header-block--green-bright {
	background: #20b0bd;
	background: -moz-linear-gradient(-45deg, #2b7583 0%, #20b0bd 100%);
	background: -webkit-linear-gradient(-45deg, #2b7583 0%, #20b0bd 100%);
	background: linear-gradient(135deg, #2b7583 0%, #20b0bd 100%)
}

.cta-header-block--green-dark {
	background: #009736;
	background: -moz-linear-gradient(-45deg, #009736 0%, #097831 100%);
	background: -webkit-linear-gradient(-45deg, #009736 0%, #097831 100%);
	background: linear-gradient(135deg, #009736 0%, #097831 100%)
}

.cta-header-block--black {
	background: #000;
	background: -moz-linear-gradient(-45deg, #000 0%, #3c3c3c 100%);
	background: -webkit-linear-gradient(-45deg, #000 0%, #3c3c3c 100%);
	background: linear-gradient(135deg, #000 0%, #3c3c3c 100%)
}

.cta-header-block--festival-25 {
	background: #0c1729 url("../images/banner-festival-25-2.jpg");
	background-size: cover;

	p {
		color: black;
		background: rgba(255, 255, 255, 0.79);
		padding: 5px 7px;

		i.far {
			color: #9f3287
		}

		a:link,
		a:visited,
		a:hover,
		a:active {
			color: #9f3287;
			font-weight: 400;
			text-decoration: none;
		}
	}
}

.cta-header-block--festival-1 {
	background: #0c1729 url("../images/banner-festival-2.jpg") right no-repeat;
	background-size: 1000px;
}

.cta-header-block--green-light {
	background: $color-about;
	background: -moz-linear-gradient(-45deg, $color-about 0%, #5f8929 100%);
	background: -webkit-linear-gradient(-45deg, $color-about 0%, #5f8929 100%);
	background: linear-gradient(135deg, $color-about 0%, #5f8929 100%)
}


.cta-header-block--dark {
	background: #181c1d;
	background: -moz-linear-gradient(-45deg, rgb(28, 28, 34) 0%, #555b5c 100%);
	background: -webkit-linear-gradient(-45deg, rgb(28, 28, 34) 0%, #555b5c 100%);
	background: linear-gradient(135deg, rgb(28, 28, 34) 0%, #555b5c 100%)
}

.cta-header-block a.cta-header-button {
	border: 1px solid white;
	padding: 0 12px;
	display: inline-block;
	margin-left: 10px;
	font-weight: 400;
	line-height: 3rem;
	background-color: #fff;
	border-width: 0;
	outline: none;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	transition: background-color .3s;
}

.cta-header-block .fixedrow {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cta-header-block p {
	margin-bottom: 0;
	vertical-align: bottom;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.3rem;
}

.cta-header-block .row-fluid {
	margin-left: 0;
	width: 100%
}

.cta-header-block a.cta-header-button:hover,
.cta-header-block a.cta-header-button:focus {
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
	background-color: rgb(195, 226, 255)
}

.cta-header-block a:link,
.cta-header-block a:visited {
	color: #fff;
	text-decoration: underline;
}

.cta-header-block a:hover,
.cta-header-block a:focus {
	color: #fff;
	text-decoration: none;
}

.cta-header-block .row-fluid:before,
.cta-header-block .row-fluid:after {
	display: none !important;
}

/* Refugee Education UK promo */

div.post#post-7821 .container.post-wrap .row-fluid,
div.post#post-7817 .container.post-wrap .row-fluid,
div.post#post-7819 .container.post-wrap .row-fluid,
div.post#post-9346 .container.post-wrap .row-fluid {
	background: white;
	box-shadow: 35px 0 31px #fff, -41px 0 35px #fff
}

div.post#post-7817,
div.post#post-7819,
div.post#post-7821,
div.post#post-9346 {
	background-image: url("../images/reuk-background--3.png");
	background-repeat: repeat-y;
	background-size: contain;
	background-position: right top;
}


.cta-header-block--refugee-pale {
	background: #b28bfc;
	background: -moz-linear-gradient(-45deg, #b28bfc 0%, #ffbc8f 100%);
	background: -webkit-linear-gradient(-45deg, #b28bfc 0%, #ffbc8f 100%);
	background: linear-gradient(135deg, #b28bfc 0%, #ffbc8f 100%);
	color: $color-copy;
}

.cta-header-block--refugee {
	background: #1D3A76;
	background: -moz-linear-gradient(-45deg, #115599 0%, #2B65F5 100%);
	background: -webkit-linear-gradient(-45deg, #115599 0%, #2B65F5 100%);
	background: linear-gradient(135deg, #115599 0%, #2B65F5 100%);
	//color: $color-copy;
}

.cta-header-block.cta-header-block--refugee-pale a:link,
.cta-header-block.cta-header-block--refugee-pale a:visited,
.cta-header-block.cta-header-block--refugee-pale a:hover,
.cta-header-block.cta-header-block--refugee-pale a:active {
	color: $color-copy;
}


.cta-body-block--refugee-pale {
	color: #052d67;
	margin-bottom: 20px;
	border: rgba(187, 221, 255, 0.55) 1px solid;
	box-shadow: inset 0 0 50px #fff,
		/* inner white */
		-2px 1px 65px rgba(178, 139, 252, 0.07) inset,
		/*inner left magenta short */
		50px 6px 100px rgba(255, 188, 143, 0.54),
		/* outer peach - right top */
		-30px 20px 78px rgba(178, 139, 252, 0.45),
		/* outer magenta - left bottom */
		50px 5px 80px #fff;
	margin-top: 30px;
	margin-bottom: 30px;
}

.cta-body-block.cta-body-block--refugee-pale a:link,
.cta-body-block.cta-body-block--refugee-pale a:visited,
.cta-body-block.cta-body-block--refugee-pale a:hover,
.cta-body-block.cta-body-block--refugee-pale a:active {
	color: $color-link;
}

#content .cta-body-block.cta-body-block--refugee-pale a:hover,
#content .cta-body-block.cta-body-block--refugee-pale a:active {
	text-decoration: none;
}

.single-wpbdp_listing .cont_nav_inner p :nth-last-child(1),
.single-post .cont_nav_inner p :nth-last-child(1),
.page-child .cont_nav_inner p :nth-last-child(1),
.single-job_listing .cont_nav_inner p :nth-last-child(1),
.single-job_listing .cont_nav_inner p :nth-last-child(2),
.single-tribe_events .cont_nav_inner p :nth-last-child(1),
.single-tribe_events .cont_nav_inner p :nth-last-child(2) {
	display: none;
}


/* Footer */


.third_wrapper .foot-message {
	font-size: 1.4rem;
	line-height: 2.2rem;
	padding-top: 15px;
}

.legal-message {
	margin-top: 1.25rem;
	color: $color-footer-text;
	display: flex;
	flex-wrap: wrap;
}

.legal-message span {
	padding-right: 1.5rem;
	padding-bottom: 0.5rem;
}

a:hover img.footer-img-svg,
a:active img.footer-img-svg {
	filter: invert(29%) sepia(63%) saturate(4863%) hue-rotate(187deg) brightness(89%) contrast(101%);

}

.tribe-common .bread-title-holder .cont_nav_inner a:not(.tribe-common-anchor--unstyle):visited {
	color: #767676;
}

img.footer-img-svg {
	height: 22px;
}

/* Recommendations */

.crp_clear {
	clear: both;
}

#content .crp_related .post {
	padding-top: 0px;
}

.crp_related a .crp_title {
	font-family: $font-family;
	font-size: 1.12em;
	line-height: 1.4em;
	font-weight: $font-weight-light;
	background: none;
	letter-spacing: 0px;
	@include transition-0-3;
	padding: 13px 20px 16px 0;
	color: $color-copy;
	max-width: 480px;
	display: block;
}

#content .crp_related a:link,
#content .crp_related a:visited {
	text-decoration: none;
}

#content .crp_related a:hover,
#content .crp_related a:active {
	text-decoration: underline;
}

#content .crp_related a:hover img,
#content .crp_related a:active img {
	opacity: 0.8;
}

#content .crp_related figure {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	display: flex;
	align-items: center;
}

/*
#content .crp_related .job_summary_shortcode figure img {
	background: white;
	//margin: 10px 0 0 10px;
	padding: 5px;
	display: block;
	max-width: 80%;
	max-height: 80%;
	margin-left: auto;
	margin-right: auto;
	object-fit: contain;
}
	*/

#content .crp_related .job_summary_shortcode figure .background-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	width: 90%;
	height: 90%;
}

#content .crp_related .job_summary_shortcode figure {
	aspect-ratio: 122 / 71;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	display: flex;
	border: solid 1px $color-jobs-v-pale;
	align-items: center;
	justify-content: center;
}

/*
#content .crp_related .job_summary_shortcode figure {
	aspect-ratio: 122 / 71;
	border: solid 1px $color-jobs-v-pale;
	display: flex;
	align-items: center;
	align-self: flex-start;
	//	max-width: 480px;
	background: none;
}
	*/

#content .crp_related .crp_job h3.crp_title {
	padding-top: 13px;
	margin-top: 0;
	margin-bottom: 0;
	padding-right: 0;
}



/*	#content .crp_related a:hover img.crp_job_logo, #content .crp_related a:active img.crp_job_logo {
		opacity: 1;
		}*/

#backtop i {
	color: $color-heading-reverse;
}

a#backtop {
	display: flex;
	align-items: center;
	justify-content: center;
}

// Translations

.translation-options p {
	outline: solid 2px $color-about;
	padding: 5px 10px;
	background: color(srgb 0.4888 0.705 0.2608 / 0.14);
	margin-top: 30px;
}

.translation-options h2 {
	color: $color-about;
	margin-bottom: 30px;
}

.body-emphasis {
	font-weight: 500;
}

.translation-options a.body-emphasis {
	display: block;
	margin-top: 5px;
}

.page-id-5008 h1.title,
.page-id-5006 h1.title,
.page-id-5010 h1.title,
.page-id-13601 h1.title,
.page-id-13702 h1.title,
.page-id-13632 h1.title {
	margin-bottom: 0;
}