/*screen-3col.scss*/

// Widths between... //

@media only screen and (min-width : #{$col2-max+1}px) and (max-width : #{$col3-max}px) {

	//body { background-color: lightblue	}

	.row-fluid,
	.tribe-common .bread-title-holder .row-fluid {
		width: 96%;
		margin-left: 20px;
	}

	.row-fluid:before,
	.row-fluid:after {
		display: table;
		line-height: 0;
		content: "";
	}

	.row-fluid:after {
		clear: both;
	}

	.row-fluid [class*="span"] {
		display: block;
		float: left;
		width: 100%;
		min-height: 30px;
		margin-left: 2.564102564102564%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	#front-blog-wrap.row-fluid [class*="span"]:first-child,
	#front-blog-wrap.row-fluid .span4:nth-child(3),
	#front-blog-wrap.row-fluid .span4:nth-child(6),
	#front-blog-wrap.row-fluid .span4:nth-child(9),
	#front-blog-wrap.row-fluid .span4:nth-child(12),
	.crp_related .span4:first-child {
		margin-left: 0;
	}



	.row-fluid .controls-row [class*="span"]+[class*="span"] {
		margin-left: 2.564102564102564%;
	}

	.row-fluid .span12 {
		width: 100%;
	}

	.row-fluid .span11 {
		width: 91.45299145299145%;
	}

	.row-fluid .span10,
	.single-tribe_events .tribe-events-single-event-description,
	.row-fluid .span8.center-col {
		width: 82.90598290598291%;
	}

	.row-fluid .span9 {
		width: 74.35897435897436%;
	}

	.row-fluid .span8.center-col {
		max-width: 739px;
	}

	.row-fluid .span8 {
		width: 65.81196581196582%;
	}

	.row-fluid .span7 {
		width: 57.26495726495726%;
	}

	.row-fluid .span6 {
		width: 48.717948717948715%;
	}

	.row-fluid .span5 {
		width: 40.17094017094017%;
	}

	.row-fluid .span4 {
		width: 31.623931623931625%;
	}

	.row-fluid .span3 {
		width: 23.076923076923077%;
	}

	.row-fluid .span2 {
		width: 14.52991452991453%;
	}

	.row-fluid .span1 {
		width: 5.982905982905983%;
	}

	.home .promo .overlap-title h1.title {
		font-size: 2em;
		line-height: 1.8em;
	}

	.tribe-events-loop .tribe-events-event-meta {
		padding-left: 0px;
	}

	.tribe-events-meta-group {
		padding: 0;
	}

	/*	#front-blog-wrap .span4:nth-child(3n+1) { margin-left: -10px;} */


	// Any width up to... //

}

@media only screen and (max-width : #{$col3-max}px) {

	/*#skenav a {
	font-size: 1rem;
	font-weight: 400;
	padding: 0 1.2rem;
}

#skenav ul ul a {
	font-size: 1rem;
}*/

	.single-job_listing .company_logo {
		max-width: 200px;
		max-height: 85px;

	}



}

@media only screen and (min-width : #{$col3half-max+1}px) and (max-width : #{$col3-max}px) {
	.row-fluid .center-col .span10 {
		width: 82.90598290598291%;
	}


}

@media only screen and (min-width : #{$col2-max+1}px) and (max-width : #{$col3half-max}px) {
	.row-fluid .center-col .span10 {
		width: 91.45299145299145%;
	}
}

@media only screen and (max-width : #{$col3half-max}px) {
	#logo #site-title a {
		font-size: 20px;
		line-height: 25px;
	}

	//#logo {margin-left:7px; margin-right:-7px;}

	#logo #site-description {
		font-size: 15px;
		line-height: 11px;
	}

	#skenav a {
		font-size: 0.9rem;
		font-weight: 400;
		padding: 0 1.1rem;
		line-height: 69px;
	}

	#skenav ul ul a {
		font-size: 0.9rem;
	}

	.cta-header-block p {
		font-size: 0.9rem;
		font-weight: 400;
	}

	.tribe-common .tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container {
		width: 100%;
	}

}