
$color-blog: #00BCD4; 
$color-features: #E91E63;
$color-training: #673AB7;
$color-about: #8BC34A;
$color-tile: #EFEBE9;
$color-highlight: #FFAB40;
$color-copy: #3d4449;
$color-copy-reverse: #fff;
$color-overlay: rgba(255, 255, 255, 0.67);
$color-outline: #ddd;
$color-secondary: #999;


$font-heading: 'Open Sans', sans-serif;

$col1-max: 599;
$col2-max: 789;
$col-menuswitch: 900;
$col3-max: 1199;
