/*variables.scss*/
$color-blog: #00A2B8;
$color-blog-highlight: #0097A7;
$color-blog-pale: #e0f7fa;
$color-features: #e21d60;
$color-features-highlight: #C2185B;
$color-features-pale: #FCE4EC;
$color-training: #546E7A;
$color-training-highlight: #37474F;
$color-about: #7cb342;
$color-events: #00838F;
$color-events-pale: #E0F7FA;

$color-jobs: #e21d60;
$color-jobs-pale: #f48fb1;
$color-jobs-v-pale: #fce4ec;

//$color-jobs: #255d00;
//$color-jobs-pale: #c6e6c4;
//$color-jobs-v-pale: #e7f5e7;
$color-tile: #EFEBE9;
$color-site-title: #FF5722;
$color-highlight: #FFAB40;
$color-copy: #3d4449;
$color-groups: #0288d1;
$color-copy-reverse: #e0e0e0;
$color-heading-reverse: #fff;
$color-overlay: rgba(255, 255, 255, 0.85);
$color-overlay-reverse: rgba(90, 89, 89, 0.67);
$color-outline: #ddd;
$color-secondary: #767676;
$color-overlay-training: rgba(0,188,212,0.7);
$color-overlay-blog: rgba(233,30,99,0.7);
$color-overlay-about: rgba(139,195,74,0.7);
$color-footer-reverse: #D9D9D9;
$color-footer-text: #9E9E9E;
$color-link: #0072b9;
$color-link-hover: #555;
$color-link-with-background: #0072b9;
$color-alert-success-background: #dbefdc;
$color-alert-success-text: #285b2a;
$color-alert-success-border: #cde9ce;
$color-alert-warning-background: #fcf8e3;
$color-alert-warning-text: #8a6d3b;
$color-alert-warning-border: #faebcc;
$color-alert-error-border: #f44336;
$color-job-type-flexible: #9074b3;
$color-job-type-part-time: #5f9ea0;
$color-job-type-full-time: #f08d3c;
$color-job-type-fixed-term: #d81b60;
$color-copy-background-emphasis-subtle: rgba(221, 221, 221, 0.24);
/* $color-training: #546E7A; */

/* Typography */

$font-family: 'Open Sans', arial, sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$font-size-h1-section: 3.2rem;
$font-size-h1-content: 2.6rem;
$line-height-h1-content: 3.2rem;
$font-size-h1-content-long: 2.125rem;
$line-height-h1-content-long: 2.8rem;

$font-size-h1-small: 2rem;  

$font-size-h2: 1.75rem;
//font size * 1.5
$line-height-h2: 2.55rem;
$font-size-h2-small: 1.5rem;
$line-height-h2-small: ($font-size-h2-small*1.2);

$font-size-h3: 1.25rem;

$font-size-body: 1.125rem;
$line-height-body: 1.75rem;


$col1-max: 599;
$col2-max: 789;
$col-menuswitch: 767;
$col3half-max: 1000;
$col3-max: 1199;


$divider-thick-neutral: solid 5px $color-outline;

$divider-thin-neutral: solid 1px $color-outline;

@mixin transition-0-1 { 
    transition: all .1s linear 0;
    -webkit-transition: all .1s linear 0; 
    -moz-transition: all .1s linear 0; 
    -o-transition: all .1s linear 0; 
}

@mixin transition-0-3 { 
    transition: all .3s linear 0;
    -webkit-transition: all .3s linear 0; 
    -moz-transition: all .3s linear 0; 
    -o-transition: all .3s linear 0; 
} 

@mixin transition-0-5 { 
    transition: all .5s linear 0;
    -webkit-transition: all .5s linear 0; 
    -moz-transition: all .5s linear 0; 
    -o-transition: all .5s linear 0; 
}

@mixin transition-0-5-ease { 
    transition: all .5s ease 0;
    -webkit-transition: all .5s ease 0; 
    -moz-transition: all .5s ease 0; 
    -o-transition: all .5s ease 0; 
}

$fa-font-path:  "../webfonts";
